Flask
gunicorn
tensorflow
opencv-python-headless
numpy
Pillow
Werkzeug
matplotlib
pillow-heif
rawpy
pymongo
flask-login
bcrypt
twilio
python-dotenv
razorpay
reportlab
qrcode
Flask-WTF
Flask-Limiter
certifi
dnspython
